__pycache__/
.idea/
*.txt
!requirements.txt
*.tar
*.pt
*.tar.gZ
*.proto
*.jpg
*.jpeg
!.gitignore
*.pth
*.csv
*.png
*.log
logs/
nohup.out
core
runs/
mnist/
results/
experiment/
env/
lightning_logs/
MNIST
*.ckpt
